/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
body {
    font-family: 'PT Sans', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-family: initial;
}

.container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .container {
        width: 70%;
        max-width: 1100px;
        margin: 0 auto;
    }
}

/* HEADER */
nav {
    background-color: #0084FD;
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}  

.bars {
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
}

.nav-1 {
    display: none;
}

.started {
    color: #0084FD;
    background-color: white;
    padding: 7px 15px;
    border-radius: 30px;
}

@media screen and (min-width: 992px) {
    .nav-1 {
        display: block;
        display: flex;
        list-style-type: none;
        gap: 1rem;
    }

    .bars {
        display: none;
    }

    .nav {
        display: flex;
    }
}

/* MAIN */
main {
    margin-top: 7rem;
}

/* section demo application */
.col{
    background-color: #B5DDFF;
    margin-top: 2rem;
    border-radius: 20px;
}

.demo h3 {
    color: #0084FD;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.demo p {
    color: #617789;
    padding-bottom: 2rem;
}

.app-store {
    background-color: #0084FD;
    padding: .5rem 3rem;
    border-radius: 20px;
}

.apple {
    margin-right: 10px;
}

.demo img {
    padding-top: 2rem;
    display: block;
}

.icons {
    font-size: 5rem;
    color: #0084FD;
}

.card {
    width: 100%;
    padding: 0 1.5rem;
    bottom: 50%;
}

.card-1 {
    width: 100%;
    padding: 1.5rem 1.5rem 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card {
        width: calc(100% / 3 * 2 - 1rem);
    }

    .card-1 {
        width: calc(100% / 3 - 1rem);
    }

    .col {
        margin: 0;
    }
}

@media screen and (min-width: 992px) {
    .card {
        display: flex;
    }

    .demo-img {
        align-self: flex-end;
    }
}

/* section strategic  planning */
 .background-section-main {
    background-color: #9792E4;
    margin-top: 5rem;
    padding: 3rem 0;
 }

 .strategic-planning {
    width: 100%;
    color: white;
}

.strategic-planning h3 {
    padding: 2rem 0;
    font-size: 2rem;
}

.app-developement {
    background-color: white;
    border-radius: 30px;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    padding: 2rem;
}

.app-developement img {
    width: 80%;
    padding-bottom: 2rem 0;
}

.app-developement p {
    font-style: oblique;
    padding: 1.5rem 0;
}

.arrow-down {
    background-color: #9792E4;
    color: black;
    padding: 10px 15px;
    border-radius: 50%;

}

@media screen and (min-width: 992px) {
    .flex-1 {
        display: flex;
        align-items: end;
        gap: 2rem;
    }
}

/* section testimonials */
.testimonial, .testimonial-1 {
    width: 100%;
    border-radius: 30px;
    margin-top: 2rem;
    text-align:center;
}

.testimonial h3 {
    color: #9792E4;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.testimonial-1 {
    background-color: #9792E4;
    color: white;
    padding: 1.5rem;
}

.testimonial-1 img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-1 p {
    padding: 1.5rem 0;
}

@media screen and (min-width: 768px) {
    .testimonial-1 {
        display: flex;
    }

    .img-testimonial {
        width: 12rem;
    }
}

/* section benefits */
.title-h3 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.col-1 {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 3rem;
    padding: 1.5rem;
}

.col-1 h3 {
    color: #9792E4;
    font-size: 1.5rem;
}

.col-1 h4 {
    color: #9792E4;
    padding: 1.5rem 0;
}

.col-1 p {
    color: #969696;
    padding-bottom: 1.5rem;
}

.more {
    background-color: #9792E4;
    padding: .3rem 2rem;
    border-radius: 20px;
}

@media screen and (min-width: 768px) {
    .row-1 {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .title-h3 {
        padding-bottom: 3rem;
    }

    .col-1 {
        width: calc(100% / 2 - 1rem / 2);
        margin: 0;
    }
}

@media screen and (min-width: 992px) {
    .row-1 {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .title-h3 {
        padding-bottom: 3rem;
    }

    .col-1 {
        width: calc(100% / 3 - 2rem / 3);
        margin: 0;
    }
}

/* section about us */
.col-long {
    margin-top: 3rem;
    width: 100%;
}

.col-short {
    width: 100%;
}

.col-long h3 {
    color: #9792E4;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.p-2-about-us {
    padding: 2rem 0;
}

.image-about-us {
    position: relative;
}

.img-about-us {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.quote-up {
    color: #9792E4;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 135px;
}

.col-short p {
    color: #9792E4;
    font-size: 1.5rem;
    padding: 1rem 0 2rem 0;
}

.linkedin {
    background-color: #9792E4;
    padding: .5rem 1rem;
    border-radius: 20px;
}

.logo-linkedin {
    margin-right: .5rem;
}

@media screen and (min-width: 768px) {
    .row-2 {
        display: flex;
        gap: 5rem;
    }

    .col-long {
        width: 60%;
    }

    .col-short {
        width: 40%;
        margin-top: 3rem;
    }
}

/* section get started */
.get-started {
    text-align: center;
    color: white;
}

.get-started h4 {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
}

.get-started h3 {
    font-size: 1.5rem;
    margin: 1rem 0 .5rem;
}

.get-started h2 {
    color: #FDC15F;
    font-size: 3rem;
}

.get-started p {
    font-size: .8rem;
}

.p-1 {
    margin: 2rem 0;
}

.p-2 {
    margin-top: 2rem;
}

.get-started-btn {
    color: #9792E4;
    background-color: white;
    padding: .8rem 4rem;
    border-radius: 30px;
}

.privacy {
    text-decoration: underline;
}

/* FOOTER */
.background-section-footer {
    background-color: #333333;
}

.footer {
    text-align: center;
}

.footer p {
    color: white;
    font-size: .8rem;
    padding: 1.5rem 0;
}

.footer a {
    text-decoration: underline;
    color: #9792E4;
}